<div class="container-body">

<h1>ゑにしについて</h1>
<p>大間の本マグロと佐久信州ジビエ 愛のある美味しいスイーツでおもてなし❣️
<p>佐久の美味しい地酒と大間の海鮮に相応しい青森の陸奥八仙と仙台の一つ星からやって来た魚から鹿までさばける料理長の故郷宮城の伯楽星、ともに純米吟醸酒🍶
<p>本物の美味しいをどうぞ❤️


<h1>ジビエについて</h1>
<p>ゑにしでは八ヶ岳ジビエとして鹿肉を提供しています。
<p>地産地消の絶品メニューをぜひご堪能ください️️❤️



<h1>大間の海鮮について</h1>
<p>大間のマグロをはじめとした絶品海鮮を提供しています。
<p>時期によって提供できる内容が変わります。詩季織々の海鮮グルメをぜひご堪能ください❤️

</div>