<div class="container-body">

<%= image_tag "kaisen_don.jpg", class: 'top-image', width: '80%', alt: 'ゑにしへようこそ' %>

<div class="top-container">
<table class="index_table">
<tr>
<th>アクセス：</th>
<td>〒385-0011 長野県佐久市猿久保667-5</td>
</tr>
<tr>
<th>TEL:</th>
<td>0267-88-6702</td>
</tr>

<tr>
<th>営業時間：</th>
<td>ランチ  11:00 - 15:00</td>
</tr>

<tr>
<th></th>
<td>ディナー 17:00 - 23:00</td>
</tr>

<tr>
<th>定休日:</th>
<td>不定休(Twitterをご確認ください！)</td>
</tr>

</table>
</div>

</div>