<div class="container-body">
<h3>公式Twitter</h3>

<div class="twitter-link">
<i class="fab fa-twitter"></i>
<%= link_to "Twitterページはこちら", "https://twitter.com/sakunokoisan", target: '_blank', class: 'btn btn-default' %>
</div>

<a class="twitter-timeline" href="https://twitter.com/sakunokoisan" data-height="1000px", data-width="70%", data-chrome="noheader nofooter" data-tweetlimit="10">Tweets by [sakunokoisan]</a> 
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>