<div class="container-body">

<div class="menu-link"> <%= link_to 'メニュー', '/menu/index' %> > デザート </div>

<h3>デザート</h3>

<table>
    <tr class="menu-box">
        <td class="menu-name">バニラシフォンケーキ〜季節の果物添え〜</td>
        <td class="menu-description"></td>
        <td class="menu-price">450円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">ほうじ茶のプリン・黒蜜ジュレ添え</td>
        <td class="menu-description"></td>
        <td class="menu-price">450円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">パンナコッタ〜berry berryソース〜</td>
        <td class="menu-description"></td>
        <td class="menu-price">450円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">令和もなかセット</td>
        <td class="menu-description"></td>
        <td class="menu-price">450円</td>
    </tr>
</table>
</div>