<div class="container-body">

<div class="menu-link"> <%= link_to 'メニュー', '/menu/index' %> > 夜の定食メニュー </div>

<h3>夜の定食メニュー</h3>

<p>
<div>漬物、味噌汁付き
<div>全て税込価格になります
<div>お米は佐久の五郎兵衛米を使用しています
</p>

<table>
    <tr class="menu-box">
        <td class="menu-name">大間産まぐろ中落ち丼</td>
        <td class="menu-description"></td>
        <td class="menu-price">2,500円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">海鮮丼</td>
        <td class="menu-description"></td>
        <td class="menu-price">1,200円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">ねぎトロ丼</td>
        <td class="menu-description"></td>
        <td class="menu-price">800円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">特製ジビエカレー</td>
        <td class="menu-description"></td>
        <td class="menu-price">800円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">鹿カツカレー</td>
        <td class="menu-description"></td>
        <td class="menu-price">1,000円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">鹿の山賊焼き定食</td>
        <td class="menu-description"></td>
        <td class="menu-price">800円</td>
    </tr>
</table>
</div>