<div class="container-body">

<div class="menu-link"> <%= link_to 'メニュー', '/menu/index' %> > ドリンクメニュー </div>

<h3>ドリンクメニュー</h3>
<table>
    <tr class="menu-box">
        <td class="menu-name">生ビール (中ジョッキ) アサヒスーパードライ</td>
        <td class="menu-description"></td>
        <td class="menu-price">500円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">瓶ビール (中瓶) アサヒスーパードライ</td>
        <td class="menu-description"></td>
        <td class="menu-price">600円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">瓶ビール (中瓶) サッポロ黒ラベル</td>
        <td class="menu-description"></td>
        <td class="menu-price">600円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">角ハイボール</td>
        <td class="menu-description"></td>
        <td class="menu-price">390円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">生レモンサワー</td>
        <td class="menu-description"></td>
        <td class="menu-price">490円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">グレープフルーツサワー</td>
        <td class="menu-description"></td>
        <td class="menu-price">390円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">日本酒 (佐久)
        <br>・井筒長　・澤乃花　・芙蓉
        </td>
        <td class="menu-description">300ml</td>
        <td class="menu-price">600円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">日本酒 (東北)
        <br>・宮城 伯楽星(純米吟醸) ・青森 陸奥八仙(特別純米)
        </td>
        <td class="menu-description">一合</td>
        <td class="menu-price">850円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name"> 焼酎 (水割、ロック、ソーダ割、お湯割)
        <br>・芋焼酎 古秘　・麦焼酎 天雪
        </td>
        <td class="menu-description">グラス</td>
        <td class="menu-price">500円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">梅酒 (水割、ロック、ソーダ割、お湯割)
        <br>緑茶焼酎 鳴龍(千曲錦)
        </td>
        <td class="menu-description"></td>
        <td class="menu-price">500円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name"> グラスワイン (赤、白)</td>
        <td class="menu-description"></td>
        <td class="menu-price">500円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name"> ボトルワイン
        <br>五一ワインGOLD
        </td> 
        <td class="menu-description"></td>
        <td class="menu-price">3,000円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">カクテル (カシス、ピーチ)</td>
        <td class="menu-description"></td>
        <td class="menu-price">500円</td>
    </tr>
</table>
<h4>ノンアルコール</h4>
<table>
    <tr class="menu-box">
        <td class="menu-name">ソフトドリンク
        <br>烏龍茶、緑茶、コーラ、ジンジャエール、
        <br>オレンジジュース、グレープフルーツジュース
        </td>
        <td class="menu-description"></td>
        <td class="menu-price">300円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">ノンアルコールビール
        <br>アサヒドライゼロ
        </td>
        <td class="menu-description"></td>
        <td class="menu-price">400円</td>
    </tr>
</table>

</div>