<div class="container-body">

<div class="menu-link"> <%= link_to 'メニュー', '/menu/index' %> > 一品料理 </div>

<h3>一品料理</h3>

<table>
    <tr class="menu-box">
        <td class="menu-name">お造り3種盛り合わせ</td>
        <td class="menu-description"></td>
        <td class="menu-price">980円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">お造り5種盛り合わせ</td>
        <td class="menu-description"></td>
        <td class="menu-price">1,500円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">鹿の山賊焼き</td>
        <td class="menu-description"></td>
        <td class="menu-price">690円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">鹿の串カツ 2本</td>
        <td class="menu-description"></td>
        <td class="menu-price">750円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">ローストジビエ</td>
        <td class="menu-description"></td>
        <td class="menu-price">1,500円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">鳥の唐揚げ 6個</td>
        <td class="menu-description"></td>
        <td class="menu-price">590円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">鳥の唐揚げ 3個</td>
        <td class="menu-description"></td>
        <td class="menu-price">300円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">仙台名物 牛タン炭火焼</td>
        <td class="menu-description"></td>
        <td class="menu-price">1,500円</td>
    </tr>


    <tr class="menu-box">
        <td class="menu-name">ゑにしサラダ〜自家製フレンチドレッシング〜</td>
        <td class="menu-description"></td>
        <td class="menu-price">600円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">本日のカルパッチョ</td>
        <td class="menu-description"></td>
        <td class="menu-price">690円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">ポテトサラダ</td>
        <td class="menu-description"></td>
        <td class="menu-price">390円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">アボカド昆布</td>
        <td class="menu-description"></td>
        <td class="menu-price">390円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">冷やしトマト</td>
        <td class="menu-description"></td>
        <td class="menu-price">390円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">梅水晶叩ききゅうり</td>
        <td class="menu-description"></td>
        <td class="menu-price">450円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">漬物盛り合わせ (野沢菜、白菜、きゅうり)</td>
        <td class="menu-description"></td>
        <td class="menu-price">590円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">焼きたらこ</td>
        <td class="menu-description"></td>
        <td class="menu-price">450円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">ホタルイカ沖漬け</td>
        <td class="menu-description"></td>
        <td class="menu-price">590円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">枝豆</td>
        <td class="menu-description"></td>
        <td class="menu-price">390円</td>
    </tr>
</table>
    <h4>〆</h4>
<table>
    <tr class="menu-box">
        <td class="menu-name">ジビエカレードリア</td>
        <td class="menu-description"></td>
        <td class="menu-price">950円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">おにぎり (たらこ、梅、味噌) 1個</td>
        <td class="menu-description"></td>
        <td class="menu-price">300円</td>
    </tr>
</table>
</div>