<div class="container-body">

<div class="menu-link"> <%= link_to 'メニュー', '/menu/index' %> > 宴会料理 </div>

<h3>宴会料理</h3>
前日までのご予約をお願い致します。
TEL 0267-88-6702

<table>
    <tr class="menu-box">
        <td class="menu-name">3,800円コース (飲み放題90分)
            <br>前菜
            <br>サラダ
            <br>お造り3種盛り
            <br>メイン2品
            <br>炊き込みご飯 (味噌汁付)
            <br>デザート
        </td>
        <td class="menu-description"></td>
        <td class="menu-price">3,800円</td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">5,000円コース (飲み放題120分)
            <br>前菜
            <br>サラダ
            <br>お造り5種盛り
            <br>メイン2品
            <br>炊き込みご飯 (味噌汁付)
            <br> デザート
        </td>
        <td class="menu-description"></td>
        <td class="menu-price">5,000円</td>
    </tr>
</table>
<h4>飲み放題メニュー</h4>
<table>
    <tr class="menu-box">
        <td class="menu-name">生ビール　アサヒスーパードライ</td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">角ハイボール</td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">日本酒</td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">焼酎 (芋、麦)</td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">梅酒 (緑茶梅酒)</td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">生レモンサワー</td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">グレープフルーツサワー</td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">カクテル (ピーチ、カシス)</td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">グラスワイン (赤、白)</td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">ソフトドリンク
            <br>(烏龍茶、緑茶、コーラ、ジンジャエール、<br>オレンジジュース、グレープフルーツジュース)
        </td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
    <tr class="menu-box">
        <td class="menu-name">ノンアルコールビール</td>
        <td class="menu-description"></td>
        <td class="menu-price"></td>
    </tr>
</table>
</div>